{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}"/>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="navigation">
            <nav>
                <ul>
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Log Out</a></li>
                        <li><a href="{{ path('delete_account_form') }}">Delete account</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">Log In</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                    {% endif %}
                    <li><a href="{{ path('make_nurl_form') }}">New Nurl</a></li>
                    <li><a href="{{ path('view_tags') }}">View Tags</a></li>
                </ul>
            </nav>
        </div>
        <h1>Nurl Manager</h1>
        <div id="content">
            {% if app.user %}
                <strong>Logged in as: {{ app.user.username }}</strong>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        <footer>
            Nurl-Manager by <a href="https://github.com/MatNit">MatNit</a> 2017.
        </footer>
    </div>
{% endblock %}
