{% extends 'default/default_layout.html.twig' %}


{% if hl is not defined %}
    {% set hl = false %}
{% endif %}

{% block content %}
    <div id="search">
        <form action="{{ path('search') }}" method="get">
            <label for="text">Text: </label>
            <input type="text" id="text" name="text"/>
            <input type="submit" value="Search"/>
        </form>
    </div>
    {% for nurl in nurls %}
        <div class="nurl-container">
            <h3>{{ nurl.title }}</h3>
            {% for tag in nurl.tags %}
                <span class="nurl-tag">{{ tag.title }}</span>
            {% endfor %}
            <p><strong>{{ nurl.summary }}</strong></p>
            <a href="{{ path('report_form', {'id': nurl.id}) }}">report</a>
            <hr>
            {{ nurl.user.username }}
            {% if app.user and nurl.user.id ==app.user.id %}
                <div>
                    <form action="{{ path('delete_nurl', {'id': nurl.id}) }}" method="post">
                        <input type="submit" value="delete"/>
                    </form>
                </div>
                <hr>
            {% endif %}
            <p>{{ nurl.body }}</p>
        </div>
    {% endfor %}


{% endblock %}

{% block javascripts %}
    {% if hl == true %}
        <script type="text/javascript" src="js/hl.js"></script>
    {% endif %}
{% endblock %}
