{% extends 'default/default_layout.html.twig' %}

{% block content %}
    <h3>New Tag</h3>
    <form action="{{ path('make_tag') }}" method="post" id="tag-form">
        <section>
            <label for="title">Title: </label>
            <input type="text" required id="title" name="title"/>
        </section>
        <input type="submit" value="Submit"/>
    </form>
    {% for tag in tags %}
        {% if tag.accepted == false %}
            <div class="tag-container">
                <a href="{{ path('up_vote', {'id': tag.id}) }}">Up vote</a>
                <a href="{{ path('down_vote', {'id': tag.id}) }}">Down vote</a>
                <span><i>votes: {{ tag.votes }}</i></span>
                <span class="nurl-tag">{{ tag.title }}</span>
            </div>
        {% else %}
            <div class="tag-container">
                <span class="nurl-tag">{{ tag.title }}</span>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
